body{
    margin: 40px 35px 60px 55px;
}

nav {
    display: flex;
   
}


.nav1 li {
    display: inline-block;
    padding: 20px ;
}

.nav1  ul li  a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    font-weight: bolder;
    text-decoration:none  
}

.nav2 li {
    display: inline-block;
    padding: 5px ;
 
}

.nav2 ol li a{
    
    text-decoration:none ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(34, 31, 31);
    font-weight: bolder;
    
}


.nav1 img{
    margin-top: 15px;
}
.nav1 a:hover{
   
    text-decoration: underline;
}
.nav2 a:hover{
    text-decoration: underline;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;

}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(2, 2, 2);
}


.carte{
    border: 2px  black solid;
    padding: 15px;
    float: left;
    margin: 7px;
}
.saving{
    color: rgb(12, 168, 12);
}

.cartes{
    display: flex; 
}




